
.btn-delete {
  margin: 5px;
  padding: 6px 12px;
  background-color: #d11a2a;
  color: #fff;
  border-radius: 5px;
  border: none;
}

.btn-add {
  margin: 5px;
  padding: 6px 12px;
  background-color: #19A7CE;
  color: #fff;
  border-radius: 5px;
  border: none;
}

.btn-add-node {
  padding: 6px 12px;
  background-color: #146C94;
  color: #fff;
  border-radius: 5px;
  border: none;
}